@use "index" as *;

.notification {
  padding: 16px;
  border-radius: 8px;
  margin: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;

  h4 {
    margin: 0;
  }

  p {
    margin: 5px 0;
  }

  button {
    margin-top: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: inherit;
    align-self: flex-end;
    padding: 0;
  }

  &.success {
    background-color: $accent-color;
    color: $white-color;
  }

  &.error {
    background-color: $error-color;
    color: $white-color;
  }

  &.warning {
    background-color: $warning-color;
    color: $white-color;
  }
}
