@use "index" as *;

.main-container {
  font-family: "Playwrite DE Grund", cursive;
  padding: 20px;
  background-color: $grey-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;

  .main-title {
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .add-person-section {
    .add-person-section-form {
      .add-person-section-form-div {
        margin-bottom: 10px;
      }
    }
    .error-message {
      color: red;
      font-size: 0.85rem;
      margin: 0;
    }
  }

  section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
      color: $primary-color;
      margin-bottom: 15px;
    }

    h3,
    h4,
    p {
      color: $secondary-color;
    }

    .search-person-section {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-input-container {
      display: flex;
      justify-content: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;

      button {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    form {
      input {
        width: calc(100% - 150px);
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        margin-right: 10px;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      button {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }

  .pessoa-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .btn-class {
      display: flex;
      gap: 10px;

      button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &.btn-atualizar {
          background-color: $accent-color;
          color: $white-color;

          &:hover {
            background-color: darken($accent-color, 10%);
          }
        }

        &.btn-deletar {
          background-color: $error-color;
          color: $white-color;

          &:hover {
            background-color: darken($error-color, 10%);
          }
        }
      }
    }
  }
}

/* Estilos para a seção de busca */
.search-person-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.search-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.result-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.pessoa-card {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.pessoa-avatar {
  margin-right: 20px;
}

.avatar-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.pessoa-info {
  display: flex;
  flex-direction: column;
}

.pessoa-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.pessoa-email {
  font-size: 1rem;
  color: #666;
}

.no-person-message {
  color: #ff4d4f;
  font-weight: bold;
  margin-top: 15px;
}
