$primary-color: #18121e;
$secondary-color: #233237;
$white-color: #ffffff;
$grey-color: #f0f0f0;

.main-container {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  padding: 20px;
  background-color: $grey-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin: auto;

  .main-title {
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .add-person-section {
    .add-person-section-form {
      input {
        margin-bottom: 10px;
      }
    }
  }

  section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
      color: $primary-color;
      margin-bottom: 15px;
    }

    h3,
    h4 {
      color: $secondary-color;
    }

    p {
      color: $secondary-color;
    }

    .search-input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      button {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    form {
      input {
        width: calc(100% - 150px);
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        margin-right: 10px;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      button {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }

  .pessoa-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .btn-class {
      display: flex;
      gap: 10px;

      button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &.btn-atualizar {
          background-color: green;
          color: $white-color;

          &:hover {
            background-color: darkgreen;
          }
        }

        &.btn-deletar {
          background-color: red;
          color: $white-color;

          &:hover {
            background-color: darkred;
          }
        }
      }
    }
  }
}
